@model ListIT.Web.ViewModels.PlaceModels.PlaceDetailViewModel

@{
    ViewData["Title"] = "ById";
}
<body>

    <div>
        <!-- Swiper -->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                @foreach (var imageUrl in Model.ImageUrls.Split(" // ", StringSplitOptions.RemoveEmptyEntries).ToArray())
                {
                    <div style="overflow:hidden;" class="swiper-slide">
                        <img style="width:100%;height: 300px;overflow: hidden;" src="@imageUrl" class="img-fluid">
                    </div>
                }

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-white"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next swiper-button-white"></div>
            <div class="swiper-button-prev swiper-button-white"></div>
        </div>
    </div>
    <!--//END BOOKING -->
    <!--============================= RESERVE A SEAT =============================-->
    <section class="reserve-block">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h5>@Model.Name</h5>
                    @if (Model.PriceRange == ListIT.Data.Common.Enums.PriceRange.Low)
                    {
                        <p><span>$</span>$$</p>
                    }
                    @if (Model.PriceRange == ListIT.Data.Common.Enums.PriceRange.Medium)
                    {
                        <p><span>$$</span>$</p>
                    }
                    @if (Model.PriceRange == ListIT.Data.Common.Enums.PriceRange.High)
                    {
                        <p><span>$$$</span></p>
                    }
                    <p class="reserve-description">Innovative cooking, paired with fine wines in a modern setting.</p>
                </div>
                <div class="col-md-6">
                    <div class="reserve-seat-block">
                        <div class="reserve-rating">
                            <span>@Model.Rating</span>
                        </div>
                        <div class="review-btn">
                            <a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-lg">WRITE A REVIEW</a>
                            <span>34 reviews</span>
                        </div>
                        <div class="reserve-btn">
                            <div class="featured-btn-wrap">
                                <a href="#" class="btn btn-danger">SEND A MESSAGE</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//END RESERVE A SEAT -->
    <!--============================= BOOKING DETAILS =============================-->
    <section class="light-bg booking-details_wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8 responsive-wrap">
                    <div class="booking-checkbox_wrap">
                        <div class="booking-checkbox">
                            <p>
                                @Model.Description
                            </p>
                            <hr>
                        </div>
                        <div class="row">
                            @foreach (var perk in Model.Perks)
                            {
                            <div class="col-md-4">
                                <label class="custom-checkbox">
                                    <span class="ti-check-box"></span>
                                    <span class="custom-control-description">@perk</span>
                                </label>
                            </div>
                            }
                        </div>
                    </div>
                    <div class="booking-checkbox_wrap mt-4">

                        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div style="padding:25px;" class="modal-content">
                                    <h4 style="color:rgb(66, 66, 66);font-weight:bolder;margin-bottom:25px">Post your review</h4>
                                    <form asp-action="PostReview" asp-controller="Review" method="post">

                                        <input name="PlaceId" value="@Model.Id" hidden />

                                        <div class="form-group">
                                            <label style="color:rgb(128, 128, 128)" class="custom-control-description">Name</label>
                                            <input name="Name" class="form-control" placeholder="Perfect Pizzas !" />
                                        </div>

                                        <div class="form-group">
                                            <label style="color:rgb(128, 128, 128)">Description</label>
                                            <textarea name="Description" class="form-control" placeholder="Pizzass were perfect , not old ,preecooked or in bad tas..."></textarea>
                                        </div>

                                        <div class="form-group">
                                            <label style="color:rgb(128, 128, 128)">Rating</label>
                                            <input name="Rating" type="number" class="form-control" placeholder="Number between 1 and 8" />
                                        </div>

                                        <button style="margin-top:30px" type="submit" class="btn btn-outline-danger" data-toggle="modal" data-target=".bd-example-modal-lg">WRITE A REVIEW</button>

                                    </form>
                                </div>
                            </div>
                        </div>

                        <div>
                        </div>
                        @if (Model.Reviews.Count <= 0)
                        {
                            <div class="alert alert-info"> There are still no reviews for this place</div>
                        }
                        else
                        {
                            <h5 style="margin-bottom:20px">@Model.Reviews.Count Reviews</h5>

                            @foreach (var review in Model.Reviews)
                            {
                                <div class="customer-review_wrap">
                                    <div class="customer-img">
                                        <img src="@review.Creator.ImageUrl" class="review-image" alt="#" style="width:90px;height:90px">
                                        <p>@review.Creator.UserName</p>
                                        <span>@review.Creator.ReviewCount Reviews</span>
                                    </div>
                                    <div class="customer-content-wrap">
                                        <div class="customer-content">
                                            <div class="customer-review">
                                                <h6>@review.Name</h6>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span class="round-icon-blank"></span>
                                                <p>Reviewed : @review.CreatedOn</p>
                                            </div>
                                            <div class="customer-rating">@review.Rating</div>
                                        </div>
                                        <p class="customer-text">@review.Description</p>
                                        @* <span>28 people marked this review as helpful</span>*@
                                        @*<a href="#"><span class="icon-like"></span>Helpful</a>*@
                                    </div>
                                </div>
                            }


                        }
                        <hr>
                    </div>
                </div>
                <div class="col-md-4 responsive-wrap">
                    <div class="contact-info">
                        <div class="address">
                            <span class="icon-location-pin"></span>
                            <p>
                                <span>@Model.City</span>
                                <br />
                                <span>@Model.Address</span>
                                <br />
                            </p>
                        </div>
                        <div class="address">
                            <span class="icon-screen-smartphone"></span>
                            <p> +@Model.TelephoneNumber</p>
                        </div>
                        <div class="address">
                            @if (Model.WebsiteName != null)
                            {
                                <span class="icon-link"></span>
                                <p>@Model.WebsiteName</p>
                            }
                        </div>
                        <div class="address">
                            <span class="icon-clock"></span>
                            <p>
                                Mon - Sun @Model.OpensAt am - @Model.ClosesAt pm <br>
                            </p>
                        </div>
                        <a href="#" class="btn btn-outline-danger btn-contact">SEND A MESSAGE</a>
                    </div>
                    <div class="follow">
                        <div class="follow-img">
                            <img style="width:100px;height:100px;overflow:hidden" src="@Model.Creator.ImageUrl" class="img-fluid" alt="#">
                            <h6>@Model.Creator.UserName</h6>
                        </div>
                        <ul class="social-counts">
                            <li>
                                <h6>@Model.Creator.Places.Count</h6>
                                <span>Listings</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>




    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Magnific popup JS -->
    <script src="~/js/jquery.magnific-popup.js"></script>
    <!-- Swipper Slider JS -->
    <script src="~/js/swiper.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 3,
            slidesPerGroup: 3,
            loop: true,
            loopFillGroupWithBlank: false,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

</body>
